*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/ProjectDM/build/
/ProjectDM/nbproject/private/
/ProjectDM/ConverterPrj/build/
/ProjectDM/ConverterPrj/dist/
/ProjectDM/ConverterPrj/nbproject/private/
/ProjectDM/myhealthcall/ConverterPrj/build/
/ProjectDM/myhealthcall/ConverterPrj/dist/
/ProjectDM/myhealthcall/ConverterPrj/nbproject/private/
/ProjectDM/myhealthcall/build/
/ProjectDM/dist/